.bg-pink{
	background-color: #f50057;
}

.border-pink{
	border-color: #f50057;
}

.btn-pink {
    color: #fff;
    background-color: #f50057;
    border-color: #f50057;
}

.btn-pink:hover {
    color: #fff;
    background-color: #ab003c;
    border-color: #f73378;
}

.btn-pink:focus {
    color: #fff;
    background-color: #ab003c;
    border-color: #f73378;
    box-shadow: 0 0 0 0.2rem rgb(247 51 120 / 50%);
}

.bg-dark{
	background-color: #f50057db!important;
}

.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgb(255 255 255 / 76%);
}

.categoryitem{
	color:black;
	background-color: #fbced1;
	text-align: center;
	font-weight: 600;
	border-radius: 20px;
	box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 24%);
	margin: 10px 0;
	padding: 8px 0;
}

.categoryitem:hover{
	box-shadow: 0px 8px 4px 0px rgb(0 0 0 / 24%);
}

.categorybox{
	background-color: #f50057ab;
	padding-bottom: 10px;
	margin-bottom: 30px;
	border-radius: 15px;
	box-shadow: 5px 5px 6px 0 rgb(0 0 0 / 27%);
}

.categorytext{
	font-weight: 700;
	font-style: italic;
}

.indextext{
	font-weight: 700;
}

.questionbox{
	background-color: #f500576e;
	width: 80%; 
	margin: 0 auto 40px auto;
	padding: 20px;
	border-radius: 15px;
	box-shadow: 5px 5px 6px 0 rgb(0 0 0 / 27%);
}

.question{
	font-size: 17px;
	font-weight: 700;
}

.options{
	font-weight: 700;
    padding: 7px 20px;
    margin-bottom: 10px;
    border-radius: 10px;
	background-color: #fbced1d6;
	box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 24%);
	cursor: pointer;
}

.options:hover{
	box-shadow: 0px 8px 4px 0px rgb(0 0 0 / 24%);;
}

#timer{
	position: fixed;
	margin-top: -70px;
	background-color: #f73378;
	padding: 10px;
	border-radius: 15px;
	font-weight: 700;
	box-shadow: 5px 5px 6px 0 rgb(0 0 0 / 27%);
}


/*below old*/

.navbar-dark .navbar-brand {
    font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link{
	font-weight: bold;
	color: white;
	margin-left: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.navbar-dark .navbar-nav .nav-link:hover{
	color: white;
	background-color: #ab003c;
}

@media (max-width: 575px){
	
	.indextext{
		font-size: 30px;
	}
	.categorytext{
		font-size: 20px;
	}
	
}
@media (min-width: 576px) {
	
  	.indextext{
		font-size: 30px;
	}
	.categorytext{
		font-size: 20px;
	}
	
}

@media (min-width: 768px) {
	
	.indextext{
		font-size: 35px;
	}
	.nav-menu{
		display: none;
	}  	
	.categorytext{
		font-size: 23px;
	}
}
@media (min-width: 992px){
	.indextext{
		font-size: 40px;
	}	
	.categorytext{
		font-size: 25px;
	}	
}
@media (min-width: 1200px) { 
	.indextext{
		font-size: 45px;
	}
	.categorytext{
		font-size: 28px;
	}	
}

/*body{
		background: url(../background/imglogged.jpg) fixed; 
		background-size: cover;
		background-color: white;	
	}*/

.dropdown-menu{
	background-color: #343a40;
	border: none;
}

.dropdown-item{
	color: white;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;  
}

footer{
	background-color: #f50057db;
	color: white;
	font-weight: bold;
	bottom: 0;
	position: fixed;
	width: 100%;
	text-align: center;
	padding: 10px 0;
}
.nav-menu{
	height: 100%;
	position: fixed;
	right: 0;
	top: 56px;
	background-color: #bb0948db;
	z-index: 1;
	transition: 0.4s;
	box-shadow: -5px -8px 5px 0px rgba(43, 41, 41, 0.64);

}
.nav-menu .nav-link{
	color: white;
	font-weight: bold;
	display: block;
	overflow: hidden;
  	white-space: nowrap;
  	text-overflow: ellipsis;
  	border-bottom: 1px solid rgba(255,255,255,78%);
}
.nav-menu .nav-link:hover{
	background-color: #ab003c;
}
.menu-icon{
	border-bottom: 1px solid rgba(255,255,255,.1);
	text-align: center;
	padding-bottom: 20px;
}

